---
export interface Props {
  text: string
  href: string
  class?: string
}

const { text, href, class: className } = Astro.props
---

<a class={`${className} josh-cta`} href={href}>{text}</a>

<style>
  a {
    padding: 1rem;
    font-size: var(--size-small);
  }

  @media (min-width: 768px) {
    a {
      font-size: var(--size-medium);
    }
  }
</style>
