---
export interface Props {
  text: string
  url: string
  aosDelay?: string
  class?: string
}

const { text, url, aosDelay, class: className } = Astro.props
---

<a class={`${className} josh-cta`} href={url} data-aos="fade" data-aos-delay={aosDelay}>{text}</a>

<style>
  a {
    padding: 1rem;
    font-size: var(--size-small);
  }

  @media (min-width: 768px) {
    a {
      font-size: var(--size-medium);
    }
  }
</style>
