<a class="logo" href="/">
  <svg
    width="390"
    height="456"
    viewBox="0 0 390 456"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <rect width="390" height="456" fill="#FCFCFC"></rect>
    <path
      d="M332 385L122.391 70.7374"
      stroke="#1E1E1E"
      stroke-width="5"
      stroke-linecap="round"></path>
    <path
      d="M227 229L70.3107 122.949"
      stroke="#1E1E1E"
      stroke-width="5"
      stroke-linecap="round"></path>
    <path
      d="M227 228L41.7855 192.588"
      stroke="#1E1E1E"
      stroke-width="5"
      stroke-linecap="round"></path>
    <path
      d="M227 228L41.6285 264.004"
      stroke="#1E1E1E"
      stroke-width="5"
      stroke-linecap="round"></path>
    <path
      d="M69.9672 332.532L223 231"
      stroke="#1E1E1E"
      stroke-width="5"
      stroke-linecap="round"></path>
    <path
      d="M121.059 384.525L335 71"
      stroke="#1E1E1E"
      stroke-width="5"
      stroke-linecap="round"></path>
    <path
      d="M190.684 414.063L264 42"
      stroke="#1E1E1E"
      stroke-width="5"
      stroke-linecap="round"></path>
    <path
      d="M262.078 414.01L192 42"
      stroke="#1E1E1E"
      stroke-width="5"
      stroke-linecap="round"></path>
    <path
      d="M386.465 388L67.0003 70"
      stroke="#1E1E1E"
      stroke-width="5"
      stroke-linecap="round"></path>
    <path
      d="M68 386L387.326 69.139"
      stroke="#1E1E1E"
      stroke-width="5"
      stroke-linecap="round"></path>
    <path
      d="M140 435L316.837 20.701"
      stroke="#1E1E1E"
      stroke-width="5"
      stroke-linecap="round"></path>
    <path
      d="M227 453L226.5 2.50007"
      stroke="#1E1E1E"
      stroke-width="5"
      stroke-linecap="round"></path>
    <path
      d="M227 228L19.8909 141.68"
      stroke="#1E1E1E"
      stroke-width="5"
      stroke-linecap="round"></path>
    <path
      d="M227 228L2.50002 229.5"
      stroke="#1E1E1E"
      stroke-width="5"
      stroke-linecap="round"></path>
    <path
      d="M227 228L18.8276 313.401"
      stroke="#1E1E1E"
      stroke-width="5"
      stroke-linecap="round"></path>
    <path
      d="M310.748 437.615L143 19"
      stroke="#1E1E1E"
      stroke-width="5"
      stroke-linecap="round"></path>
    <circle
      cx="227"
      cy="238"
      r="144"
      fill="#B2F0D1"
      stroke="#FCFCFC"
      stroke-width="12"></circle>
    <path
      d="M170.031 269.828C170.031 276.859 169.302 282.953 167.844 288.109C166.438 293.266 164.433 297.823 161.828 301.781C159.276 305.792 156.229 309.359 152.688 312.484C149.198 315.609 145.37 318.682 141.203 321.703L139.797 319.75C143.391 316.469 146.229 313.057 148.313 309.516C150.448 305.974 152.063 302.172 153.156 298.109C154.302 294.099 155.031 289.776 155.344 285.141C155.656 280.453 155.813 275.349 155.813 269.828V204.594C155.813 200.167 155.761 196.312 155.656 193.031C155.552 189.698 155.396 186.833 155.188 184.438C154.979 181.99 154.719 179.958 154.406 178.344C154.146 176.729 153.86 175.375 153.547 174.281V173.969H172.297V174.281C171.985 175.375 171.672 176.729 171.36 178.344C171.099 179.958 170.865 181.99 170.656 184.438C170.448 186.833 170.292 189.698 170.188 193.031C170.084 196.312 170.031 200.167 170.031 204.594V269.828ZM222.391 173.969L302.86 259.594V204.594C302.86 200.167 302.808 196.312 302.703 193.031C302.599 189.698 302.443 186.833 302.235 184.438C302.026 181.99 301.766 179.958 301.453 178.344C301.193 176.729 300.906 175.375 300.594 174.281V173.969H314.5V174.281C314.188 175.375 313.901 176.729 313.641 178.344C313.38 179.958 313.146 181.99 312.938 184.438C312.729 186.833 312.573 189.698 312.469 193.031C312.365 196.312 312.313 200.167 312.313 204.594V287.562H309.578L229.11 202.016V255.453C229.11 259.88 229.162 263.76 229.266 267.094C229.37 270.375 229.526 273.214 229.735 275.609C229.943 278.005 230.177 280.01 230.438 281.625C230.698 283.24 230.985 284.594 231.297 285.688V286H217.391V285.688C217.703 284.594 217.99 283.24 218.25 281.625C218.563 280.01 218.823 278.005 219.031 275.609C219.24 273.214 219.396 270.375 219.5 267.094C219.604 263.76 219.656 259.88 219.656 255.453V204.594C219.656 200.167 219.604 196.312 219.5 193.031C219.396 189.698 219.24 186.833 219.031 184.438C218.823 181.99 218.563 179.958 218.25 178.344C217.99 176.729 217.703 175.375 217.391 174.281V173.969H222.391Z"
      fill="#1E1E1E"></path>
  </svg>
</a>

<style>
  .logo {
    position: relative;
    z-index: 3;
    width: 4.2rem;
    height: 5rem;
  }

  @media (min-width: 768px) {
    .logo {
      width: 5rem;
      height: 6rem;
    }
  }

  .logo svg {
    width: 100%;
    height: 100%;
  }
</style>
