<h1 class="logo" title="Josh Nussbaum"><a href="/">JN</a></h1>

<style>
  .logo {
    font-family: 'Outfit', sans-serif;
    font-size: var(--size-medium);
  }

  @media (min-width: 768px) {
    .logo {
      font-size: var(--size-large);
    }
  }

  .logo a {
    padding: 0.5rem;
    color: var(--color-black);
    background-color: var(--color-light-green);
    border: 2px solid var(--color-black);
    border-radius: 5px;
    box-shadow: var(--box-shadow-light);
  }
</style>
