---
import Logo from './Logo.astro'
import DesktopNavigation from './DesktopNavigation.astro'
import MobileNavigation from './MobileNavigation.astro'
---

<nav data-aos="fade">
  <Logo />
  <DesktopNavigation />
  <MobileNavigation />
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding: 1rem;
  }

  @media (max-height: 700px) {
    nav {
      margin-bottom: 1rem;
    }
  }

  @media (min-width: 768px) {
    nav {
      margin-bottom: 6rem;
      padding: 2rem;
    }
  }
</style>
